<h1>Dashboard#dashboard</h1>
<p>Find me in app/views/dashboard/dashboard.html.erb</p>

<div class="center">
  <h2>Sample Rails Application</h2>
  <h4>This is the home page for the Rails sample application.</h4>
</div>
<div>
  <h2>
    Esta é uma aplicação Rails com o Bootstrap
  </h2>
  <p>Teste com o uso do bootstrap</p>
  <table class="table"> 
    <thead> 
      <tr> 
        <th>#</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Username</th> 
      </tr> 
    </thead> 
    <tbody> 
      <tr> 
        <th scope="row">1</th> 
        <td>Mark</td> 
        <td>Otto</td> 
        <td>@mdo</td> 
      </tr> 
      <tr> 
        <th scope="row">2</th> 
        <td>Jacob</td> 
        <td>Thornton</td> 
        <td>@fat</td> 
      </tr> 
      <tr> 
        <th scope="row">3</th> 
        <td>Larry</td> 
        <td>the Bird</td> 
        <td>@twitter</td> 
      </tr> 
    </tbody> 
</table>
</div>