
<head>
    <style>
        article{
            border: 1px solid #000; width: 50%;
        }
        p{
            font-size:1em;
        }
        
    </style>
</head>
<body>
    
    
    <h1>Sobre o Kanri ERP</h1>
    <article>
    <p>O Kanri ERP é um sistema modular e personalizável de gestão de prestadoras de serviços. Nosso sistema tem o objetivo de aproximar o Fornecedor de Serviços, o Parceiro e os Colaboradores.Pelo Kanri ERP será possível Controlar Chamados, Estoque, Finanças e os Colaboradores.</p>
    </article>			

    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"> <%= link_to 'Administrador', admin_session_path	 %>

    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"> <%= link_to 'Gestor', gestor_session_path	 %>	

</body>                
