
<head>
</head>
<body>
    
    
    <h1>Sobre o Kanri ERP</h1>
    
    
                <p>O Kanri ERP é um sistema modular e personalizável de gestão de prestadoras de serviços.<br>
                				Nosso sistema tem o objetivo de aproximar o Fornecedor de Serviços, o Parceiro e os Colaboradores. <br>
                				Pelo Kanri ERP será possível Controlar Chamados, Estoque, Finanças e os Colaboradores.<br>
                				
                </p>			

                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"> <%= link_to 'Administrador', admin_session_path	 %>
                
                
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"> <%= link_to 'Gestor', gestor_session_path	 %>	
           
                        
</body>                
